body {
  width:100%;
  max-width:377px;
  font-family:courier;
  font-size:16px;
  font-style:oblique;
  margin: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 8px;
}
